html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'inconsolata';
  src: url("../fonts/inconsolata-webfont.woff2") format("woff2"), url("../fonts/inconsolata-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_bold';
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_light';
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"), url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_medium';
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_regular';
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_semibold';
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'space_bold';
  src: url("../fonts/spacemono-bold-webfont.woff2") format("woff2"), url("../fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'space_bold_italic';
  src: url("../fonts/spacemono-bolditalic-webfont.woff2") format("woff2"), url("../fonts/spacemono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'space_italic';
  src: url("../fonts/spacemono-italic-webfont.woff2") format("woff2"), url("../fonts/spacemono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'space_regular';
  src: url("../fonts/spacemono-regular-webfont.woff2") format("woff2"), url("../fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative; }

img {
  padding-left: 40px; }

/* Whole window container */
.container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  overflow: hidden; }

*:focus {
  outline: none; }

/* Container for upper elements - editor and tabs */
.upper {
  height: 75%;
  z-index: 96;
  position: relative; }

/* Editor window */
.editor {
  position: absolute;
  top: 40px;
  left: 60px;
  float: left;
  background: #fff;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 97; }

/* Tabbed content */
.tabs {
  background-color: white;
  height: 100%;
  width: 450px;
  position: absolute;
  top: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 99;
  left: calc(100% - 50px); }

.tabs-closed {
  left: calc(100% - 50px); }

.tabs-open {
  /* Value of $tab-width doesn't work in calc!
		Therefore it's hard coded. */
  left: calc(100% - 450px); }

/* CONTAINER FOR LOWER ELEMENTS */
.activeBar {
  cursor: ns-resize;
  background-color: #0000ff; }

.inactiveBar {
  background-color: #0000ff; }

.dragging {
  background-color: #000; }

/* console */
.console {
  background: white;
  width: 100%;
  display: block;
  height: 100%; }

hr {
  border: 0;
  margin-bottom: -22px;
  opacity: 0.1; }

input[type="text"] {
  height: 25px;
  border: 1px solid #bdbdbd;
  background: #ffffff; }
  input[type="text"].number-picker {
    border-radius: 0;
    width: 5em;
    text-align: center; }
  input[type="text"]:disabled {
    background: #f1f1f1; }

img.explorer {
  background: url("images/icons/explorer_white.svg");
  width: 30px;
  height: 30px; }
  img.explorer:hover {
    background: url("images/icons/explorer_green.svg"); }

#tab-menu {
  width: 50px;
  height: 100%;
  background-color: #c9c9c9;
  float: left; }

#tab-content-area {
  height: 100%;
  background-color: #fff;
  overflow: auto; }

section#tab-content {
  padding: 0 20px 20px 20px; }
  section#tab-content .title-container {
    display: block;
    margin: 0; }
    section#tab-content .title-container hr {
      background: transparent; }
    section#tab-content .title-container h1 {
      border-bottom: 10px solid #1ce8b5;
      display: inline-block;
      font-size: 24px;
      font-family: space_bold;
      color: rgba(0, 0, 0, 0.8);
      opacity: 0.8; }
  section#tab-content p {
    font-size: 12px; }

.disabled {
  display: none; }

button {
  border-top: rgba(0, 190, 164, 0.4);
  border-left: rgba(0, 190, 164, 0.4);
  border-right: rgba(0, 190, 164, 0.4);
  border-bottom: 2px solid #00bea4;
  background-color: rgba(0, 190, 164, 0.4);
  padding: 6px 12px;
  font-family: poppins_light;
  border-radius: 2px;
  cursor: pointer; }
  button:hover {
    background-color: rgba(0, 190, 164, 0.7);
    color: rgba(255, 255, 255, 0.9);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
  button.create-project {
    font-size: 14px;
    margin-top: -1px;
    padding-right: 20px; }
    button.create-project:hover {
      color: #ffffff; }
    button.create-project:before {
      content: '+';
      /* Unicode character for "plus" sign (+) */
      font-family: space_bold;
      font-size: 36px;
      line-height: 20px;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.4);
      margin-right: 5px; }
  button:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.9);
    border-top: rgba(0, 0, 0, 0.1);
    border-left: rgba(0, 0, 0, 0.1);
    border-right: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2); }

div.file-status {
  margin-left: 60px; }
  div.file-status span.project, div.file-status span.file {
    display: inline-block;
    padding-top: 10px;
    font-family: space_regular;
    font-size: 16px;
    color: #00bea4; }
    div.file-status span.project span.current, div.file-status span.file span.current {
      font-family: poppins_regular;
      color: rgba(0, 0, 0, 0.7);
      padding-right: 20px;
      font-size: 14px; }

#pin_container {
  align: left;
  overflow: auto; }

#image {
  width: auto;
  height: auto;
  text-align: left;
  margin: 10px auto 0;
  padding-bottom: 40px;
  padding-left: 30px;
  overflow: auto; }

.diagram_text {
  font-family: poppins_light;
  font-size: inherit;
  line-height: 12px; }

.dPin {
  fill: rgba(0, 255, 0, 0.5);
  stroke: none; }

.new {
  fill: red; }

.gnd {
  fill: rgba(255, 0, 0, 0.4);
  stroke: red; }

.aPin {
  fill: rgba(255, 255, 0, 0.5);
  stroke: none; }

.aInPin {
  fill: rgba(255, 165, 0, 0.6);
  stroke: none; }

.comms {
  fill: rgba(0, 0, 255, 0.5);
  stroke: none; }

.audio {
  fill: rgba(155, 48, 255, 0.5);
  stroke: none; }

.pins {
  fill: transparent;
  stroke: #000; }

.util {
  fill: rgba(255, 14, 154, 0.5);
  stroke: none; }

.led {
  fill: rgba(0, 255, 0, 0.6);
  stroke: none; }

ul {
  font-family: inconsolata; }

.file-list > li {
  font-family: poppins_regular; }
  .file-list > li > p {
    padding: 3px 0 3px 10px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #bdbdbd; }
  .file-list > li:first-child > p {
    margin: -5px 0 0 0; }

.sub-file-list > li {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  padding: 4px 12px; }
  .sub-file-list > li:hover {
    background: rgba(255, 255, 0, 0.2); }
  .sub-file-list > li:before {
    margin-right: 5px;
    size: 12px;
    font-family: poppins_light;
    content: '-';
    /* Unicode character for "minus" sign (-) */ }

.example-list > li {
  padding: 4px 10px; }
  .example-list > li:before {
    margin-right: 10px;
    content: '+'; }
  .example-list > li:hover {
    background: rgba(255, 255, 0, 0.2); }

button.accordion {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding: 8px 14px;
  width: 100%;
  text-align: left;
  outline: none;
  margin-top: 10px;
  font-family: poppins_regular;
  font-size: 16px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  button.accordion:hover {
    background: #ddd;
    border-bottom: 2px solid #00bea4; }
  button.accordion.active {
    background-color: #fff;
    border-bottom: 2px solid #00bea4;
    padding: 8px 14px; }
    button.accordion.active:after {
      content: "\2796";
      /* Unicode character for "minus" sign (-) */ }
  button.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    float: right;
    margin-left: 5px; }
  button.accordion.sub {
    width: calc(100% - 20px);
    background-color: #ddd;
    margin-top: 0;
    margin-left: 20px; }
    button.accordion.sub:hover {
      background: #ddd;
      border-bottom: 2px solid white; }
    button.accordion.sub.active {
      border-bottom: none;
      background: #f1f1f1;
      padding: 8px 14px; }
      button.accordion.sub.active:after {
        content: "\2796";
        /* Unicode character for "minus" sign (-) */ }
    button.accordion.sub:after {
      content: '\02795';
      /* Unicode character for "plus" sign (+) */
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      float: right;
      margin-left: 5px; }

.panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0; }

.panel.show {
  opacity: 1;
  max-height: 500px;
  /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */ }

.mini-dropdown select {
  border: transparent;
  height: 25px;
  width: 72px;
  padding-left: 10px;
  background: transparent;
  font-family: poppins_light;
  -webkit-appearance: button;
  vertical-align: center; }
  .mini-dropdown select .git {
    width: 150px;
    display: inline; }
  .mini-dropdown select.inactive {
    border: 1px solid #bdbdbd;
    background: #f1f1f1; }

.mini-dropdown {
  height: 23px;
  width: 72px;
  border-radius: 2px;
  border: 1px solid #00bea4;
  display: block; }
  .mini-dropdown:before, .mini-dropdown:after {
    content: "";
    position: absolute;
    pointer-events: none; }
  .mini-dropdown:before {
    position: absolute;
    content: " ";
    border: 6px solid transparent;
    border-top: 6px solid #00bea4;
    top: 10px;
    left: 62px; }

.mini-dropdown.disabled {
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid #bdbdbd; }
  .mini-dropdown.disabled:before {
    border-top: 6px solid #bdbdbd; }
  .mini-dropdown.disabled:after {
    color: rgba(0, 0, 0, 0.4); }

/* Dropdown Button */
button.dropbtn {
  position: relative;
  width: 200px;
  background-color: #fff;
  font-family: poppins_regular;
  color: #00bea4;
  padding: 6px 16px;
  font-size: 14px;
  text-align: left;
  border: none;
  cursor: pointer;
  display: inline;
  border: 2px solid #00bea4; }
  button.dropbtn:before {
    position: absolute;
    content: " ";
    border: 8px solid transparent;
    border-top: 8px solid #00bea4;
    top: 13px;
    right: 12px; }
  button.dropbtn:hover, button.dropbtn:focus {
    background-color: rgba(0, 190, 164, 0.8);
    border-color: rgba(0, 190, 164, 0.8);
    color: white; }
    button.dropbtn:hover:before, button.dropbtn:focus:before {
      border-top: 8px solid #fff; }
  button.dropbtn.small {
    width: 4em; }
    button.dropbtn.small:before {
      position: absolute;
      content: " ";
      border: 8px solid transparent;
      border-top: 8px solid #00bea4;
      top: 5px;
      right: 12px; }
    button.dropbtn.small:hover, button.dropbtn.small:focus {
      background-color: rgba(0, 190, 164, 0.8);
      border-color: rgba(0, 190, 164, 0.8);
      color: white; }
      button.dropbtn.small:hover:before, button.dropbtn.small:focus:before {
        border-top: 8px solid #fff; }

.dropdown {
  opacity: 1;
  position: relative;
  display: inline-block;
  border-radius: 2px; }
  .dropdown.inactive {
    background: #f1f1f1;
    border: 2px solid #bdbdbd; }

select.dropdown-num {
  border: transparent;
  height: 25px;
  width: 56px;
  padding-left: 10px;
  background: transparent;
  font-family: poppins_light; }
  select.dropdown-num.inactive {
    border: #bdbdbd;
    background: #f1f1f1; }

/* Dropdown content (hidden by default) */
.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* Links inside the dropdown */ }
  .dropdown-content a {
    opacity: 1;
    font-family: poppins_regular;
    font-size: 10px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block; }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: rgba(0, 0, 0, 0.9); }

.show {
  display: block; }

.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.input-number input[type="text"] {
  height: 25px;
  width: 50px;
  padding: 0;
  vertical-align: top;
  text-align: center;
  outline: none;
  font-family: poppins_regular;
  border-radius: 0; }
  .input-number input[type="text"]:disabled {
    border-radius: 0;
    width: 50px; }

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 25px;
  max-height: 23px;
  line-height: 25px;
  background: #f1f1f1;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: bold;
  cursor: pointer; }
  .input-number-decrement:active,
  .input-number-increment:active {
    background: #63ffd9; }

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px; }

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0; }

/*
 * Make each label stack on top of one another.
 *
 */
#tab-menu li#open-tab {
  background-color: #c9c9c9; }

#tab-menu li {
  background: #c9c9c9;
  position: relative;
  list-style: none;
  height: 50px;
  width: 50px;
  padding: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: hand; }
  #tab-menu li a {
    width: 100%;
    height: 100%; }
    #tab-menu li a:hover {
      color: #00bea4;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
  #tab-menu li.explorer {
    background-image: url("../images/icons/explorer_white.svg");
    background-repeat: no-repeat;
    background-position: center; }
    #tab-menu li.explorer:hover {
      background-image: url("../images/icons/explorer_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
    #tab-menu li.explorer.active {
      background-image: url("../images/icons/explorer_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
  #tab-menu li.examples {
    background-image: url("../images/icons/examples_white.svg");
    background-repeat: no-repeat;
    background-position: center; }
    #tab-menu li.examples:hover {
      background-image: url("../images/icons/examples_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
    #tab-menu li.examples.active {
      background-image: url("../images/icons/examples_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
  #tab-menu li.settings {
    background-image: url("../images/icons/settings_white.svg");
    background-repeat: no-repeat;
    background-position: center; }
    #tab-menu li.settings:hover {
      background-image: url("../images/icons/settings_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
    #tab-menu li.settings.active {
      background-image: url("../images/icons/settings_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
  #tab-menu li.pins {
    background-image: url("../images/icons/pins_white.svg");
    background-repeat: no-repeat;
    background-position: center; }
    #tab-menu li.pins:hover {
      background-image: url("../images/icons/pins_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
    #tab-menu li.pins.active {
      background-image: url("../images/icons/pins_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
  #tab-menu li.refs {
    background-image: url("../images/icons/refs_white.svg");
    background-repeat: no-repeat;
    background-position: center; }
    #tab-menu li.refs:hover {
      background-image: url("../images/icons/refs_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
    #tab-menu li.refs.active {
      background-image: url("../images/icons/refs_green.svg");
      background-repeat: no-repeat;
      background-position: center; }
  #tab-menu li.active {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background: #ffffff;
    border-left: 5px solid #00bea4;
    border-bottom: none;
    margin-left: -5px; }
    #tab-menu li.active a {
      color: #00bea4; }

.rot {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.tab-button {
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  font-weight: bolder;
  text-decoration: none;
  padding-left: 10px;
  font-family: space_bold;
  font-size: 50px;
  line-height: 50px; }

.tab-content-area {
  display: none; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.lower {
  display: block;
  vertical-align: bottom;
  height: 200px;
  z-index: 100;
  position: relative;
  font-family: inconsolata;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  /* toolbar */ }
  .lower .toolbar {
    height: 42px;
    background: #bcbcbc;
    width: 100%;
    display: block;
    padding-left: 40px;
    box-shadow: 5px 5px #eee;
    -webkit-box-shadow: 5px 5px #eee; }
    .lower .toolbar > div {
      height: 40px;
      display: inline;
      float: left; }
      .lower .toolbar > div span {
        width: 35px;
        height: 35px;
        display: inline-block;
        margin-top: 3px;
        -webkit-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out; }
        .lower .toolbar > div span.run {
          background-image: url("../images/icons/run_active.svg");
          background-repeat: no-repeat; }
          .lower .toolbar > div span.run:hover {
            background-image: url("../images/icons/run_inactive.svg"); }
        .lower .toolbar > div span.stop {
          margin-left: 5px;
          background-image: url("../images/icons/stop_active.svg");
          background-repeat: no-repeat; }
          .lower .toolbar > div span.stop:hover {
            background-image: url("../images/icons/stop_inactive.svg"); }
        .lower .toolbar > div span.console-button {
          background-image: url("../images/icons/console_inactive.svg");
          background-repeat: no-repeat; }
          .lower .toolbar > div span.console-button:hover {
            background-image: url("../images/icons/console_active.svg"); }
        .lower .toolbar > div span.tab-button {
          padding: 0;
          background-image: url("../images/icons/tabs_inactive.svg");
          background-repeat: no-repeat; }
          .lower .toolbar > div span.tab-button:hover {
            background-image: url("../images/icons/tabs_active.svg"); }
        .lower .toolbar > div span.drag-button {
          background-image: url("../images/icons/drag_inactive.svg");
          background-repeat: no-repeat; }
          .lower .toolbar > div span.drag-button:hover {
            background-image: url("../images/icons/drag_active.svg"); }
        .lower .toolbar > div span.scope-button {
          background-image: url("../images/icons/scope_inactive.svg");
          background-repeat: no-repeat; }
          .lower .toolbar > div span.scope-button:hover {
            background-image: url("../images/icons/scope_active.svg"); }
      .lower .toolbar > div.syntax-status {
        background-image: url("../images/icons/syntax_ok.svg");
        background-repeat: no-repeat; }
    .lower .toolbar .tool-text {
      margin-top: 14px;
      padding-left: 10px;
      -webkit-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out; }
    .lower .toolbar .other {
      min-width: 175px; }
    .lower .toolbar .st-st {
      min-width: 125px; }
    .lower .toolbar .start-stop {
      width: 76px;
      padding-left: 10px; }
    .lower .toolbar .toolbar-functions {
      min-width: 150px;
      padding: 2px 0; }
    .lower .toolbar .system-status-text {
      width: 60px;
      padding: 0 20px;
      margin-top: 14px; }
    .lower .toolbar .syntax-status {
      min-width: 100px;
      padding: 0 20px;
      margin-top: 3px; }
    .lower .toolbar .logo {
      min-width: 200px;
      float: right;
      padding-right: 2.3em; }
      .lower .toolbar .logo img {
        margin-top: -14px; }

.dragButton {
  position: absolute;
  top: 0;
  left: 5px;
  background-color: black;
  min-width: 100px;
  min-height: 20px;
  display: inline; }

.dragactive {
  background: red;
  z-index: 101;
  cursor: ns-resize; }

.choice {
  padding-bottom: 10px;
  font-family: poppins_light;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6); }

.left-choice {
  display: inline-block;
  width: 50%;
  text-align: right;
  float: left; }

.right-choice {
  display: inline-block;
  padding-left: 10px;
  width: 43%;
  text-align: left;
  margin-top: -2px;
  position: relative; }

input[type="checkbox"].checkbox-slider,
.checkbox-slider input[type="checkbox"] {
  position: relative;
  left: 10000px;
  height: 18px;
  width: 18px; }
  input[type="checkbox"].checkbox-slider::before, input[type="checkbox"].checkbox-slider::after,
  .checkbox-slider input[type="checkbox"]::before,
  .checkbox-slider input[type="checkbox"]::after {
    position: absolute;
    content: '';
    display: block;
    cursor: pointer;
    left: -10000px; }
  input[type="checkbox"].checkbox-slider::before,
  .checkbox-slider input[type="checkbox"]::before {
    border-radius: 18px;
    width: 32px;
    height: 18px;
    background: #ccc;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms; }
  input[type="checkbox"].checkbox-slider:checked::before,
  .checkbox-slider input[type="checkbox"]:checked::before {
    background-color: #1ce8b5; }
  input[type="checkbox"].checkbox-slider::after,
  .checkbox-slider input[type="checkbox"]::after {
    width: 14px;
    height: 14px;
    background: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(13%);
            transform: translateY(-50%) translateX(13%);
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    transition: -webkit-box-shadow 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out;
    transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out, -webkit-box-shadow 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }
  input[type="checkbox"].checkbox-slider:checked::after,
  .checkbox-slider input[type="checkbox"]:checked::after {
    width: 15px;
    height: 15px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(-50%) translateX(99%);
            transform: translateY(-50%) translateX(99%); }

.panel.show {
  padding-top: 10px; }

.mux {
  padding-top: 5px; }
  .mux.inactive .dropbtn-small {
    background-color: #f1f1f1;
    color: #00bea4;
    border: 1px solid #bdbdbd; }
    .mux.inactive .dropbtn-small:before {
      border: 5px solid transparent;
      border-top: 5px solid #bdbdbd; }

#git-controls {
  padding-top: 10px; }
  #git-controls div {
    padding: 10px 0; }
    #git-controls div button:not(:first-child) {
      margin-left: 10px; }
    #git-controls div .mini-dropdown {
      display: inline; }
    #git-controls div p {
      font-family: poppins_light;
      display: inline;
      font-size: 10px;
      margin-left: 10px; }
