**/.DS_Store
**/._*
/dev/node_modules
/IDE/settings.json
/IDE/node_modules
/IDE/frontend-dev/node_modules
/projects/
/tmp/
*.sw?
*.orig
/Release/
**/build/
/Debug/
/Documentation/
*.js.map
/.plugins/
/updates/
IDE/public/media
pru_rtaudio*.txt
resources/tools/bela-cape-btn/bela-cape-btn
resources/tools/board_detect/board_detect
resources/tools/mcasp-dump-tool/mcasp-dump-tool
lib/
uploads/
tmp/
CustomMakefileTop.in
CustomMakefileBottom.in
