**/.DS_Store
**/._*
/dev/node_modules
/IDE/settings.json
/IDE/node_modules
/ide-redesign/node_modules
/projects/
/tmp/
*.sw?
*.orig
/Release/
**/build/
/Debug/
/Documentation/
*.js.map
/.plugins/
/updates/
include/pru_rtaudio_bin.h
IDE/public/media
