.mini-dropdown select {
  border: transparent;
  height: 25px;
  width: 100%;
  padding-left: 10px;
  background: transparent;
  font-family: poppins_light;
  -webkit-appearance: button;
  vertical-align: center;
  option {
    width: 100%;
  }
  .git {
    width: 150px;
    display: inline;
  }
  &.inactive {
    border: 1px solid $grey-mid;
    background: $grey-light;
  }
}

.mini-dropdown {
  border: 1px solid $teal-main;
  border-radius: 2px;
  display: block;
  height: 23px;
  position: relative;
  min-width: 105px;
  &:before,
  &:after {
    content: "";
    pointer-events: none;
    position: absolute;
  }
  &:before {
    content:" ";
    border: 6px solid transparent;
    border-top: 6px solid $teal-main;
    right: 5px;
    position: absolute;
    top: 10px;
  }
}

// DISABLED DROPDOWNS
.mini-dropdown.disabled {
  background-color: $grey-light;
  border: 1px solid $grey-mid;
  color: rgba(0,0,0,.7);
  &:before {
    border-top: 6px solid $grey-mid;
  }
  &:after {
    color: rgba(0,0,0,.4);
  }
}