#popup {
  background: white;
  border: 1px solid $grey-mid;
	display: none;
	left: calc((100% / 2) - 300px);
  margin-bottom: 10px;
  min-height: 100px;
	padding: 4em;
  position: absolute;
  top: calc((100% / 2) - 300px);
  width: 600px;
  &.active {
    display: inline;
    z-index: 9999;
  }
  h1 {
      font-size: 2em;
      font-family: space_bold;
      color: $teal-main;
    }
  & p, & form {
    color: #999;
    font-family: poppins_light;
    font-size: 1em;
    margin-bottom: 10px;
  }
  input {
    font-size: 16px;
    padding: 10px;
    &[type=text] {
      margin: 1em;
      width: 15em;
    }
    &[type=checkbox], &[type=radio] {
      margin: 2px 10px;
      position: relative;
      top: 5px;
      width: initial;
    }
    &[type=file]{
      background: initial;
      border: initial;
      width: initial;
    }
    &::-webkit-input-placeholder {
      color: #bdbdbd;
      font-style: italic;
    }
  }
  button {
    float: right;
    margin-top: .5em;
    font-size: 1em; 
    padding: .5em .75em;
    margin-left: .75em;
    &.confirm { 
      background: $teal-main;
      opacity: 0.7;
      color: $white;
      border-bottom: 4px solid $teal-base;
      &:hover {
        background: $teal-01;
        color: $grey-dark;
        border-bottom: 1px solid $teal-base;
      }
    }
    &.cancel {
      background: $grey-light;
    } 
  }
}


