#popup {
  background: white;
  border: 1px solid $grey-mid;
	display: none;
	left: calc((100% / 2) - 300px);
  margin-bottom: 10px;
  min-height: 100px;
	padding: 4em;
  position: absolute;
  top: calc((100% / 2) - 300px);
  width: 600px;
  &.active {
    display: inline;
    z-index: 9999;
  }
  h1 {
      font-size: 2em;
      font-family: space_bold;
      color: $teal-main;
    }
  & p, & form {
    color: #999;
    font-family: poppins_light;
    font-size: 1em;
    margin-bottom: 10px;
  }
  input {
    font-size: 1em;
    padding: .5em;
    line-height: 1em;
    &[type=text] {
      margin-top: 1em;
      width: 15em;
    }

    &[type=file]{
      background: initial;
      border: initial;
      width: initial;
    }
    &::-webkit-input-placeholder {
      color: #bdbdbd;
      font-style: italic;
    }
  }
  /* Styles for custom radio buttons */
  .radio-container {
    display: block;
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: $grey-mid;
    opacity: 0.5;
    border-radius: 50%;
    margin-top: .25em;
  }
  .radio-container:hover input ~ .radio-button {
    opacity: 1;
  }
  .radio-container input:checked ~ .radio-button {
    background-color: $teal-01;
    opacity: 1;
  }

  /* Styles for custom UI buttons for popups */
  button {
    float: right;
    margin-top: .5em;
    font-size: 1em; 
    padding: .5em 2em;
    margin-left: .75em;
    &.confirm { 
      border: 1px solid $teal-01;
      background: $teal-01;
      color: $grey-dark;
      &:hover {
        border: 1px solid $teal-02;
        background: $teal-02;

      }
    }
    &.cancel {
      background: $white;
      border: 1px solid $grey-mid;
      &:hover {
        background: $grey-light-mid;
        color: $grey-dark;
      }
    } 
  }
}


