// This is the component used in the Scope to adjust values

input[type="range"].range-slider {
	appearance: none;
	background: transparent;
	margin: 0 auto;
	padding: 3px 0;
	width: 80%;
	transition: .25s, ease-in-out;

	&::-webkit-slider-runnable-track {
		height: 20px;
		cursor: pointer;
		background: rgba(0,0,0, 0.2);
		border-radius: 9px;
		// border: 0.2px solid $grey-light;
		padding: 2px 2px 2px 2px;
	}
	&::-webkit-slider-thumb {
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		// border: 1px solid #000000;
		height: 16px;
		width: 16px;
		border-radius: 8px;
		background: rgba($white, 0.8);
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: 0px;
		transition: .25s, ease-in-out;
		// box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	}
	&:hover::-webkit-slider-runnable-track, &:active::-webkit-slider-runnable-track {
		background: $teal-01;
		transition: background, 100ms, ease-in-out;
		&::-webkit-slider-thumb {
			margin-top: 0;
		}
	}
	&:hover::-webkit-slider-thumb, &:active::-webkit-slider-thumb {
		background-color: $white;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
		
	}

	&:disabled {
		&::-webkit-slider-runnable-track {
			background: rgba(0,0,0, 0.2);
		}
		&::-webkit-slider-thumb {
			background: rgba($white, 0.2);
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
		}
	}
    	
}