/*
 * Make each label stack on top of one another.
 *
 */
#tab-menu {
  li#open-tab {
    background-color: $grey-tabs;
  }
  li {
    background: $grey-tabs;
    cursor: pointer;
    height: 50px;
    padding: 0;
    position: relative;
    list-style: none;
    transition: 0.2s ease-in-out;
    width: 50px;
    cursor: hand;
    a {
      height: 100%;
      width: 100%;
      &:hover {
        color: $teal-main;
        transition: 0.2s ease-in-out;
      }
    }
    &.explorer {
      background-image: url('../images/icons/explorer_white.svg');
      background-position: center;
      background-repeat: no-repeat;
      &:hover {
        background-image: url('../images/icons/explorer_green.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
      &.active{
        background-image: url('../images/icons/explorer_green.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &.examples {
      background-image: url('../images/icons/examples_white.svg');
      background-position: center;
      background-repeat: no-repeat;
        &:hover {
          background-image: url('../images/icons/examples_green.svg');
          background-position: center;
          background-repeat: no-repeat;
        }
        &.active {
          background-image: url('../images/icons/examples_green.svg');
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      &.settings {
        background-image: url('../images/icons/settings_white.svg');
        background-repeat: no-repeat;
        background-position: center;
      &:hover {
        background-image: url('../images/icons/settings_green.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
      &.active {
        background-image: url('../images/icons/settings_green.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &.pins {
      background-image: url('../images/icons/pins_white.svg');
      background-position: center;
      background-repeat: no-repeat;
    &:hover {
      background-image: url('../images/icons/pins_green.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
    &.active {
      background-image: url('../images/icons/pins_green.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &.refs {
    background-image: url('../images/icons/refs_white.svg');
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background-image: url('../images/icons/refs_green.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
    &.active {
      background-image: url('../images/icons/refs_green.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &.libraries {
    background-image: url('../images/icons/library_white.svg');
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background-image: url('../images/icons/library_green.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
    &.active {
      background-image: url('../images/icons/library_green.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &.active {
    background: $white;
    border-bottom: none;
    border-left: 5px solid $teal-main;
    // If there isn't a border-bottom of none, there's a weird bevel on the tab highlight.
    margin-left: -5px;
    transition: 0.2s ease-in-out;
    a {
      color: $teal-main;
    }
  }
  }
}

.rot {
	display: block;
	transform: rotate(45deg);
	transition: 0.3s ease-in-out;
}

.tab-button {
	color: rgba(255, 255, 255, 0.9);
  font-family: space_bold;
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
	line-height: 50px;
  padding-left: 10px;
  text-decoration: none;
}

.tab-content-area {
  display: none;
}
