$tab-width: 450px;

/* Tabbed content */
.tabs {
	background-color: white;
	// border: 1px solid $blue;
	height: calc(100% + 35px);
	width: $tab-width;
	position: absolute;
	top: 0;
  transition: .5s ease-in-out;
  z-index: 99;
  left: calc(100% - 50px);
}

.tabs-closed {
	left: calc(100% - 50px);
}

.tabs-open {
	/* Value of $tab-width doesn't work in calc!
		Therefore it's hard coded. */
	left: calc(100% - 438px);
}

#tab-menu {
  width: 50px;
  height: 100%;
  background-color: $grey-tabs;
  float: left;
}

#tab-content-area {
  height: calc(100% - 76px);
  background-color: #fff;
  overflow: auto;
}

section#tab-content {
  padding: 0 20px 20px 20px;
  .tab-info {
    display: none;
  }
  .title-container {
    display: block;
    margin: 0;
    hr {
      background: transparent;
    }
    h1 {
      border-bottom: 10px solid $teal-01;
      display: inline-block;
      font-size: 24px;
      font-family: space_bold;
      color: rgba(0, 0, 0, 0.8);
      opacity: 0.8;
    }
  }
}

.disabled {
  display: none;
}
