$blue: #0000ff;
$upper-bg: #eeeeee;

$white: #ffffff;

// Base Material palette teal:
$teal-base: #009587;

// Main Bela color:
$teal-main: #00bea4; //rgb(0,190,164)

// Increasingly brighter - for rollovers:
$teal-01: #1ce8b5; //rgb(28,232,81)
$teal-02: #63ffd9;
$teal-03: #a6ffea;

$grey-light: #f1f1f1;
$grey-light-mid: rgba(0,0,0,0.2);
$grey-mid: #bdbdbd;

$grey-tabs: #c9c9c9;

$grey-editorbg: #eeeeee;

$grey-toolbar: #c9c9c9;

$amber-accent: #f26d21;

$grey-dark: rgba(0,0,0,0.8);

@import 'reset';
@import 'fonts';

body {
	margin: 0;
  padding: 0;
	position: relative;
}

img {
	padding-left: 40px;
}

*:focus {
	outline: none;
}

/* Container for upper elements - editor and tabs */

.upper {
	height: 100%;
	position: relative;
  z-index: 96;
}

/* Editor window */
.editor {
  background: #fff;
  float: left;
  height: calc(100% - 92px);
  left: 0;
  overflow: auto;
	position: absolute;
	top: 0;
  width: 100%;
	z-index: 97;
}

#pd-svg-parent {
  background: #fff;
  font-family: monospace;
  overflow: auto;
}

/* CONTAINER FOR LOWER ELEMENTS */

.activeBar {
  background-color: #0000ff;
	cursor: ns-resize;
}
.inactiveBar {
	background-color: #0000ff;
}
.dragging {
	background-color: #000;
}

/* console */
.console {
	background: white;
	display: block;
}

hr {
	border: 0;
  margin-bottom: -22px;
  opacity: 0.1;
}

.spacer {
  display: block;
  padding-top: 10px;
}

@import 'accordion-menu';
@import 'buttons';
@import 'console';
@import 'dropdown';
@import 'dropdown-mini';
@import 'example-list';
@import 'file-list';
@import 'git';
@import 'icons';
@import 'lower';
@import 'number-selector';
@import 'pins';
@import 'popup';
@import 'scrollbar';
@import 'tabs';
@import 'tab-content';
@import 'tab-menu';
@import 'text-input';
@import 'toolbar';
@import 'upper';
@imoprt 'docs';
