html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'inconsolata';
  src: url("../fonts/inconsolata-webfont.woff2") format("woff2"), url("../fonts/inconsolata-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_bold';
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_light';
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"), url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_medium';
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_regular';
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppins_semibold';
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'space_bold';
  src: url("../fonts/spacemono-bold-webfont.woff2") format("woff2"), url("../fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'space_bold_italic';
  src: url("../fonts/spacemono-bolditalic-webfont.woff2") format("woff2"), url("../fonts/spacemono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'space_italic';
  src: url("../fonts/spacemono-italic-webfont.woff2") format("woff2"), url("../fonts/spacemono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'space_regular';
  src: url("../fonts/spacemono-regular-webfont.woff2") format("woff2"), url("../fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  position: relative; }

img {
  padding-left: 40px; }

*:focus {
  outline: none; }

/* Container for upper elements - editor and tabs */
.hidden {
  display: none; }

.upper {
  height: 100%;
  position: relative;
  z-index: 96; }

/* Editor window */
.editor {
  background: #fff;
  float: left;
  height: calc(100% - 92px);
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 97; }

#editor {
  display: none; }
  #editor.active {
    display: block; }

#audio-parent,
#img-display-parent {
  display: none; }
  #audio-parent.active,
  #img-display-parent.active {
    display: block; }

#pd-svg-parent {
  background: #fff;
  display: none;
  font-family: monospace;
  overflow: auto; }
  #pd-svg-parent #pd-svg {
    background: #f1f1f1; }
  #pd-svg-parent.active {
    display: block; }

/* CONTAINER FOR LOWER ELEMENTS */
.activeBar {
  background-color: #0000ff;
  cursor: ns-resize; }

.inactiveBar {
  background-color: #0000ff; }

.dragging {
  background-color: #000; }

/* console */
.console {
  background: white;
  display: block; }

hr {
  border: 0;
  margin-bottom: -22px;
  opacity: 0.1; }

.spacer {
  display: block;
  padding-top: 10px; }

button.accordion {
  background-color: #f1f1f1;
  border: none;
  border-bottom: 2px solid #fff;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-family: poppins_regular;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
  padding: 8px 14px;
  text-align: left;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: calc(100% - 12px); }
  button.accordion:hover {
    background: #bdbdbd;
    border-bottom: 2px solid #00bea4; }
  button.accordion.active {
    background-color: #ffffff;
    border-bottom: 2px solid #00bea4;
    color: rgba(0, 0, 0, 0.8);
    padding: 8px 14px; }
    button.accordion.active:hover {
      color: rgba(0, 0, 0, 0.8); }
    button.accordion.active:after {
      content: "\2796";
      /* Unicode character for "minus" sign (-) */ }
  button.accordion:after {
    color: rgba(0, 0, 0, 0.6);
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    float: right;
    font-size: 14px;
    margin-left: 5px; }

button.accordion-sub {
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  padding: .5em 0 .5em .8em;
  text-align: left;
  width: 100%; }
  button.accordion-sub:hover {
    background: #FFFFC9;
    color: rgba(0, 0, 0, 0.8); }
  button.accordion-sub.active {
    color: rgba(0, 0, 0, 0.8); }
    button.accordion-sub.active:hover {
      color: rgba(0, 0, 0, 0.8); }

.docs-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s; }
  .docs-content.show {
    max-height: 100000px;
    /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
    opacity: 1; }

.panel {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s; }

.panel.show {
  max-height: 100000px;
  /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
  opacity: 1; }

a.button {
  color: black;
  font-size: 11px;
  text-decoration: none; }
  a.button:hover {
    color: rgba(255, 255, 255, 0.9); }

button,
.button {
  border: 1px solid #00bea4;
  background-color: #ffffff;
  border-radius: 3px;
  font-size: .8em;
  cursor: pointer;
  font-family: poppins_light;
  padding: .5em .7em; }
  button.active,
  .button.active {
    color: rgba(0, 0, 0, 0.4); }
    button.active:hover,
    .button.active:hover {
      color: rgba(0, 0, 0, 0.4); }
  button:hover,
  .button:hover {
    background-color: #00bea4;
    color: rgba(255, 255, 255, 0.9);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
  button.create-project,
  .button.create-project {
    font-size: .9em;
    margin-top: 2px;
    padding-right: 20px; }
    button.create-project:hover,
    .button.create-project:hover {
      color: #ffffff; }
    button.create-project:before,
    .button.create-project:before {
      color: rgba(0, 0, 0, 0.8);
      content: '+';
      /* Unicode character for "plus" sign (+) */
      font-family: space_bold;
      font-size: 36px;
      line-height: 20px;
      margin-right: 5px;
      vertical-align: middle; }
  button:disabled,
  .button:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    color: rgba(0, 0, 0, 0.8); }

#beaglert-console {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inconsolata, monospace;
  font-size: 12px;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%; }

#beaglert-consoleForm {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid black;
  height: 21px; }

#beaglert-consoleWrapper {
  overflow-x: auto;
  width: 100%; }

#beaglert-consoleWrapper span {
  white-space: pre-wrap; }

#beaglert-consoleWrapper > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 100%; }

.beaglert-console-log-in {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 30px;
  text-indent: -1.65em; }

.beaglert-console-shell::before {
  content: '#';
  color: inherit;
  margin: 0 14px;
  opacity: 0.6;
  padding-right: 0.65em; }

.beaglert-console-shell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #606096;
  padding: 4px 30px;
  text-indent: -1.65em; }

.beaglert-console-git::before {
  color: inherit;
  content: 'git:';
  margin: 0 7px;
  opacity: 0.6;
  padding-right: 0.65em; }

.beaglert-console-git {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #609660;
  padding: 4px 30px;
  text-indent: -1.65em; }

.beaglert-console-make::before {
  color: inherit;
  content: 'make:';
  opacity: 0.6;
  padding-right: 0.65em; }

.beaglert-console-make {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 30px;
  text-indent: -1.65em; }

.beaglert-console-bela::before {
  color: inherit;
  content: 'bela:';
  opacity: 0.6;
  padding-right: 0.65em; }

.beaglert-console-bela {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #406464;
  padding: 4px 30px;
  text-indent: -1.65em; }

.beaglert-console-log {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 30px; }

.beaglert-console-warning::before {
  color: yellow;
  content: '!';
  margin: 0 14px;
  padding-right: 0.65em; }

.beaglert-console-warning {
  background-color: rgba(255, 255, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 30px;
  text-indent: -1.65em; }

.beaglert-console-error::before {
  color: red;
  content: '!';
  margin: 0 14px;
  padding-right: 0.65em; }

.beaglert-console-error {
  background-color: rgba(255, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 30px;
  text-indent: -1.65em; }

.beaglert-console-iwarning::before {
  color: red;
  content: '!';
  margin: 0 14px;
  padding-right: 0.65em; }

.beaglert-console-iwarning {
  background-color: rgba(255, 255, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 30px;
  text-indent: -1.65em; }

.beaglert-console-ierror::before {
  color: red;
  content: '!';
  margin: 0 14px;
  padding-right: 0.65em; }

.beaglert-console-ierror {
  background-color: rgba(255, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 30px;
  text-indent: -1.65em; }

.beaglert-console-notify::before {
  color: green;
  content: 'i';
  margin: 0 14px;
  padding-right: 0.65em; }

.beaglert-console-notify {
  text-indent: -1.65em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 30px;
  background-color: rgba(0, 255, 0, 0.2);
  transition: background-color 1s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transition: background-color 1s ease-out, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, background-color 1s ease-out;
  transition: transform 0.2s ease-out, background-color 1s ease-out, -webkit-transform 0.2s ease-out; }

.beaglert-console-ierror, .beaglert-console-iwarning, .beaglert-console-error {
  transition: -webkit-transform 0.1s ease-out;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out; }

.beaglert-console-ierror > span:hover, .beaglert-console-iwarning > span:hover {
  cursor: pointer;
  text-decoration: underline; }

.beaglert-console-collapsed {
  -webkit-transform: scaleY(0);
          transform: scaleY(0); }

.beaglert-console-faded {
  background-color: rgba(255, 255, 255, 0.2); }

.beaglert-console-rejectnotification {
  background-color: rgba(255, 0, 0, 0.2);
  cursor: pointer; }

.beaglert-console-rejectnotification::before {
  content: '!';
  color: red;
  padding-right: 0.65em; }

#beaglert-console-inputRight {
  display: table-cell;
  width: 100%; }

#beaglert-console-inputLeft {
  display: table-cell; }

#beaglert-consoleInput {
  background-color: inherit;
  border: inherit;
  color: inherit;
  font-family: inconsolata;
  height: 100%;
  padding: 5px 5px;
  position: relative;
  width: 100%; }

#beaglert-consoleInput:focus {
  outline-width: 0; }

#beaglert-consoleInput-pre {
  color: inherit;
  display: inline;
  font-family: inconsolata;
  opacity: 0.2;
  padding: 5px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  white-space: nowrap; }

/**** Documentation content styles ****/
.subsections .intro-content {
  margin-bottom: .5em; }

.subsections .docs-content {
  display: hidden; }
  .subsections .docs-content.show {
    display: visible; }

.subsections .intro-header {
  font-family: poppins_regular;
  font-size: 1.2em;
  line-height: 1em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: .5em;
          margin-block-end: .5em; }

.subsections .memberdef-title {
  font-family: inconsolata;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2em;
  -webkit-margin-before: .5em;
          margin-block-start: .5em;
  -webkit-margin-after: .5em;
          margin-block-end: .5em; }

.subsections li div p {
  padding: .5em 0 .75em;
  margin: 0; }

.subsections div ul li h4 {
  margin: 0; }

.subsections .examples-header {
  color: #009587;
  font-family: space_bold;
  font-size: 1.1em;
  margin: .5em; }

/* Dropdown Button */
button.dropbtn {
  position: relative;
  width: 200px;
  background-color: #fff;
  font-family: poppins_regular;
  color: #00bea4;
  font-size: 14px;
  text-align: left;
  border: none;
  cursor: pointer;
  display: inline;
  border: 2px solid #00bea4; }
  button.dropbtn:before {
    position: absolute;
    content: " ";
    border: 8px solid transparent;
    border-top: 8px solid #00bea4;
    top: 13px;
    right: 12px; }
  button.dropbtn:hover, button.dropbtn:focus {
    background-color: rgba(0, 190, 164, 0.8);
    border-color: rgba(0, 190, 164, 0.8);
    color: white; }
    button.dropbtn:hover:before, button.dropbtn:focus:before {
      border-top: 8px solid #fff; }
  button.dropbtn.small {
    width: 4em; }
    button.dropbtn.small:before {
      position: absolute;
      content: " ";
      border: 8px solid transparent;
      border-top: 8px solid #00bea4;
      top: 5px;
      right: 12px; }
    button.dropbtn.small:hover, button.dropbtn.small:focus {
      background-color: rgba(0, 190, 164, 0.8);
      border-color: rgba(0, 190, 164, 0.8);
      color: white; }
      button.dropbtn.small:hover:before, button.dropbtn.small:focus:before {
        border-top: 8px solid #fff; }

.dropdown {
  opacity: 1;
  position: relative;
  display: inline-block;
  border-radius: 2px; }
  .dropdown.inactive {
    background: #f1f1f1;
    border: 2px solid #bdbdbd; }

select.dropdown-num {
  border: transparent;
  height: 25px;
  width: 56px;
  padding-left: 10px;
  background: transparent;
  font-family: poppins_light; }
  select.dropdown-num.inactive {
    border: #bdbdbd;
    background: #f1f1f1; }

/* Dropdown content (hidden by default) */
.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* Links inside the dropdown */ }
  .dropdown-content select {
    border: none;
    display: table;
    font-size: 11px;
    margin-bottom: -22px;
    padding-bottom: 2px;
    padding-top: 0;
    width: 200px; }
    .dropdown-content select option {
      color: black;
      cursor: pointer;
      display: block;
      font-family: poppins_regular;
      font-size: 10px;
      opacity: 1;
      padding: 8px 16px;
      text-decoration: none; }
      .dropdown-content select option:hover {
        background-color: #f1f1f1;
        color: rgba(0, 0, 0, 0.9); }
      .dropdown-content select option:active, .dropdown-content select option:focus {
        background-color: #bdbdbd;
        color: rgba(0, 0, 0, 0.9); }
  .dropdown-content ul {
    width: 200px;
    padding-left: 28px;
    padding-top: 0;
    font-size: 11px;
    border: none;
    height: 22px;
    display: table;
    padding-bottom: 2px; }
    .dropdown-content ul > li, .dropdown-content ul span, .dropdown-content ul a {
      color: black;
      cursor: pointer;
      display: block;
      font-family: poppins_regular;
      font-size: 10px;
      opacity: 1;
      padding: 8px 16px;
      text-decoration: none; }
      .dropdown-content ul > li:hover, .dropdown-content ul span:hover, .dropdown-content ul a:hover {
        background-color: #f1f1f1;
        color: rgba(0, 0, 0, 0.9); }
  .dropdown-content.show {
    display: block; }

.mini-dropdown select {
  border: transparent;
  height: 25px;
  width: 72px;
  padding-left: 10px;
  background: transparent;
  font-family: poppins_light;
  -webkit-appearance: button;
  vertical-align: center; }
  .mini-dropdown select .git {
    width: 150px;
    display: inline; }
  .mini-dropdown select.inactive {
    border: 1px solid #bdbdbd;
    background: #f1f1f1; }

.mini-dropdown {
  height: 23px;
  width: 72px;
  border-radius: 2px;
  border: 1px solid #00bea4;
  display: block; }
  .mini-dropdown:before, .mini-dropdown:after {
    content: "";
    position: absolute;
    pointer-events: none; }
  .mini-dropdown:before {
    position: absolute;
    content: " ";
    border: 6px solid transparent;
    border-top: 6px solid #00bea4;
    top: 10px;
    left: 62px; }

.mini-dropdown.disabled {
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid #bdbdbd; }
  .mini-dropdown.disabled:before {
    border-top: 6px solid #bdbdbd; }
  .mini-dropdown.disabled:after {
    color: rgba(0, 0, 0, 0.4); }

ul.projectManager {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.projectManager .example-list li {
    cursor: pointer; }

ul {
  font-family: inconsolata; }

.file-list {
  width: calc(100% - 10px); }
  .file-list li {
    font-family: poppins_regular; }
    .file-list li > p {
      border-bottom: 1px solid #bdbdbd;
      margin: 0;
      padding: 3px 0 3px 10px;
      width: calc(100% - 10px); }
    .file-list li:first-child > p {
      margin: -5px 0 0 0; }
    .file-list li .file-list-size {
      font-style: italic; }

.sub-file-list > li {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  padding: 4px 12px; }
  .sub-file-list > li:hover, .sub-file-list > li.selected {
    background: rgba(255, 255, 0, 0.2); }
  .sub-file-list > li:before {
    content: '>';
    /* Unicode character for "minus" sign (-) */
    font-family: poppins_light;
    margin-right: 5px;
    size: 12px; }
  .sub-file-list > li.sourceFile {
    cursor: pointer; }

.example-list > li {
  padding: 4px 10px; }
  .example-list > li:before {
    content: '>';
    margin-right: 10px; }
  .example-list > li:hover {
    background: rgba(255, 255, 0, 0.2); }

#git-controls {
  padding-top: 10px; }
  #git-controls div {
    padding: 10px 0; }
    #git-controls div button:not(:first-child) {
      margin-left: 10px; }
    #git-controls div .mini-dropdown {
      display: inline; }
    #git-controls div p {
      display: inline;
      font-family: poppins_light;
      font-size: 10px;
      margin-left: 10px; }

.git-repo {
  display: none; }

img.explorer {
  background: url("images/icons/explorer_white.svg");
  width: 30px;
  height: 30px; }
  img.explorer:hover {
    background: url("images/icons/explorer_green.svg"); }

ul.libraries-list-parent {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.libraries-list-parent .libraries-list li {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-family: poppins_regular;
    font-size: 14px;
    padding: 4px 12px; }
    ul.libraries-list-parent .libraries-list li:hover, ul.libraries-list-parent .libraries-list li.selected {
      background: rgba(255, 255, 0, 0.2); }
    ul.libraries-list-parent .libraries-list li:before {
      content: '>';
      /* Unicode character for "minus" sign (-) */
      font-family: poppins_light;
      margin-right: 5px;
      size: 12px; }
  ul.libraries-list-parent .file-heading {
    border-bottom: 1px solid #bdbdbd;
    font-family: poppins_regular;
    margin: 0;
    padding: 3px 0 3px 10px;
    width: calc(100% - 10px); }

ul .copy {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  ul .copy:hover {
    text-decoration: underline; }

ul .hide-include {
  border: none;
  height: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  resize: none;
  width: 0; }

ul pre {
  white-space: inherit; }

ul dl {
  padding: 3px 0px 3px 10px; }
  ul dl dt, ul dl dd {
    font-size: 14px; }

.lower {
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: inconsolata;
  font-size: 12px;
  position: relative;
  vertical-align: bottom;
  z-index: 100; }

.input-number input[type="text"] {
  height: 25px;
  width: 50px;
  padding: 0;
  vertical-align: top;
  text-align: center;
  outline: none;
  font-family: poppins_regular;
  border-radius: 0; }
  .input-number input[type="text"]:disabled {
    border-radius: 0;
    width: 50px; }

.input-number-decrement,
.input-number-increment {
  background: #f1f1f1;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: inline-block;
  height: 25px;
  font-weight: bold;
  line-height: 25px;
  padding: 0;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 25px; }
  .input-number-decrement:active,
  .input-number-increment:active {
    background: #63ffd9; }

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px; }

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0; }

#pin_container {
  height: calc(100vh - 200px);
  overflow: hidden; }
  #pin_container object {
    height: 100%;
    width: 100%; }
  #pin_container #image {
    height: auto;
    margin: 0;
    overflow: auto;
    padding: 0;
    text-align: left;
    width: auto; }
  #pin_container .diagram_text {
    font-family: poppins_light;
    font-size: inherit;
    line-height: 12px; }
  #pin_container .dPin {
    fill: rgba(0, 255, 0, 0.5);
    stroke: none; }
  #pin_container .new {
    fill: red; }
  #pin_container .gnd {
    fill: rgba(255, 0, 0, 0.4);
    stroke: red; }
  #pin_container .aPin {
    fill: rgba(255, 255, 0, 0.5);
    stroke: none; }
  #pin_container .aInPin {
    fill: rgba(255, 165, 0, 0.6);
    stroke: none; }
  #pin_container .comms {
    fill: rgba(0, 0, 255, 0.5);
    stroke: none; }
  #pin_container .audio {
    fill: rgba(155, 48, 255, 0.5);
    stroke: none; }
  #pin_container .pins {
    fill: transparent;
    stroke: #000; }
  #pin_container .util {
    fill: rgba(255, 14, 154, 0.5);
    stroke: none; }
  #pin_container .led {
    fill: rgba(0, 255, 0, 0.6);
    stroke: none; }

#popup {
  background: white;
  border: 1px solid #bdbdbd;
  display: none;
  left: calc((100% / 2) - 300px);
  margin-bottom: 10px;
  max-height: 60vh;
  min-height: 100px;
  overflow-y: auto;
  padding: 4em;
  position: absolute;
  top: calc((100% / 2) - 300px);
  width: 600px;
  /* Styles for custom radio buttons */
  /* Styles for custom UI buttons for popups */ }
  #popup.active {
    display: inline;
    z-index: 9999; }
  #popup h1 {
    color: #00bea4;
    font-size: 2em;
    font-family: space_bold; }
  #popup h3 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1em;
    font-family: space_bold; }
  #popup p, #popup form {
    color: #999;
    font-family: poppins_light;
    font-size: 1em;
    margin-bottom: 10px; }
  #popup input {
    font-size: 1em;
    line-height: 1em;
    padding: .5em; }
    #popup input[type=text] {
      margin-top: 1em;
      width: 15em; }
    #popup input[type=file] {
      background: initial;
      border: initial;
      width: initial; }
    #popup input::-webkit-input-placeholder {
      color: #bdbdbd;
      font-style: italic; }
  #popup .radio-container {
    cursor: pointer;
    display: block;
    padding-left: 2em;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  #popup .radio-container input {
    cursor: pointer;
    opacity: 0;
    position: absolute; }
  #popup .radio-button {
    background-color: #bdbdbd;
    border-radius: 50%;
    height: 1em;
    left: 0;
    margin-top: .25em;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1em; }
  #popup .radio-container:hover input ~ .radio-button {
    opacity: 1; }
  #popup .radio-container input:checked ~ .radio-button {
    background-color: #1ce8b5;
    opacity: 1; }
  #popup button {
    float: right;
    font-size: 1em;
    margin-left: .75em;
    margin-top: .5em;
    padding: .5em 2em; }
    #popup button.confirm {
      background: #1ce8b5;
      border: 1px solid #1ce8b5;
      color: rgba(0, 0, 0, 0.8); }
      #popup button.confirm:hover {
        background: #63ffd9;
        border: 1px solid #63ffd9; }
    #popup button.cancel {
      background: #ffffff;
      border: 1px solid #bdbdbd; }
      #popup button.cancel:hover {
        background: #e5e5e5;
        color: rgba(0, 0, 0, 0.8); }
    #popup button.delete {
      background-color: #FF918E;
      border: 1px solid #FF918E;
      color: rgba(0, 0, 0, 0.8); }
      #popup button.delete:hover {
        background-color: #ff5e5b;
        border: 1px solid #ff5e5b; }

#overlay.active {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 9998; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

/* Tabbed content */
.tabs {
  background-color: white;
  height: calc(100% + 35px);
  left: calc(100% - 50px);
  position: absolute;
  top: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  width: 450px;
  z-index: 99; }

.tabs-closed {
  left: calc(100% - 50px); }

.tabs-open {
  /* Value of $tab-width doesn't work in calc!
		Therefore it's hard coded. */
  left: calc(100% - 438px); }

#tab-menu {
  background-color: #c9c9c9;
  float: left;
  height: 100%;
  width: 50px; }

#tab-content-area {
  background-color: #fff;
  height: calc(100% - 76px);
  overflow: auto; }

section#tab-content {
  padding: 0 20px 20px 20px; }
  section#tab-content .tab-info {
    display: none; }
  section#tab-content .title-container {
    display: block;
    margin: 0; }
    section#tab-content .title-container hr {
      background: transparent; }
    section#tab-content .title-container h1 {
      border-bottom: 10px solid #1ce8b5;
      color: rgba(0, 0, 0, 0.8);
      display: inline-block;
      font-family: space_bold;
      font-size: 24px;
      opacity: 0.8; }

.disabled {
  display: none; }

.choice {
  color: rgba(0, 0, 0, 0.6);
  font-family: poppins_light;
  font-size: 12px;
  padding-bottom: 10px; }
  .choice tr {
    display: block;
    padding-bottom: 10px; }

table.choice {
  width: 100%; }

.left-choice {
  display: inline-block;
  float: left;
  text-align: right;
  width: 50%; }

.right-choice {
  display: inline-block;
  margin-top: -2px;
  padding-left: 10px;
  position: relative;
  text-align: left;
  width: 43%; }
  .right-choice.half {
    padding-left: 0;
    text-align: center;
    width: 22.5%; }

th.right-choice.half {
  margin-top: 0; }

input[type="text"].number-picker,
input[type="number"].number-picker {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 -3px 0 -4px; }

input[type="checkbox"].checkbox-slider,
.checkbox-slider input[type="checkbox"] {
  height: 18px;
  left: 10000px;
  position: relative;
  width: 18px; }
  input[type="checkbox"].checkbox-slider::before, input[type="checkbox"].checkbox-slider::after,
  .checkbox-slider input[type="checkbox"]::before,
  .checkbox-slider input[type="checkbox"]::after {
    content: '';
    cursor: pointer;
    display: block;
    left: -10000px;
    position: absolute; }
  input[type="checkbox"].checkbox-slider::before,
  .checkbox-slider input[type="checkbox"]::before {
    background: #ccc;
    border-radius: 18px;
    height: 18px;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
    width: 32px; }
  input[type="checkbox"].checkbox-slider:checked::before,
  .checkbox-slider input[type="checkbox"]:checked::before {
    background-color: #1ce8b5; }
  input[type="checkbox"].checkbox-slider::after,
  .checkbox-slider input[type="checkbox"]::after {
    background: #fff;
    border-radius: 50%;
    height: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(13%);
            transform: translateY(-50%) translateX(13%);
    -webkit-transition: -webkit-box-shadow 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    transition: -webkit-box-shadow 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out;
    transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out, -webkit-box-shadow 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    width: 14px; }
  input[type="checkbox"].checkbox-slider:checked::after,
  .checkbox-slider input[type="checkbox"]:checked::after {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: 15px;
    -webkit-transform: translateY(-50%) translateX(99%);
            transform: translateY(-50%) translateX(99%);
    width: 15px; }

.project {
  font-family: poppins_regular;
  margin-top: .5em;
  margin-bottom: 0; }

.panel.show {
  margin-left: .25em;
  padding-top: .8em; }

.mux {
  padding-top: 5px; }
  .mux.inactive .dropbtn-small {
    background-color: #f1f1f1;
    color: #00bea4;
    border: 1px solid #bdbdbd; }
    .mux.inactive .dropbtn-small:before {
      border: 5px solid transparent;
      border-top: 5px solid #bdbdbd; }

.button-container button {
  margin-bottom: .5em; }

.diagram-text {
  font-size: .8em; }

/*
 * Make each label stack on top of one another.
 *
 */
#tab-menu li#open-tab {
  background-color: #c9c9c9; }

#tab-menu li {
  background: #c9c9c9;
  cursor: pointer;
  height: 50px;
  padding: 0;
  position: relative;
  list-style: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 50px;
  cursor: hand; }
  #tab-menu li a {
    height: 100%;
    width: 100%; }
    #tab-menu li a:hover {
      color: #00bea4;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
  #tab-menu li.explorer {
    background-image: url("../images/icons/explorer_white.svg");
    background-position: center;
    background-repeat: no-repeat; }
    #tab-menu li.explorer:hover {
      background-image: url("../images/icons/explorer_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
    #tab-menu li.explorer.active {
      background-image: url("../images/icons/explorer_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
  #tab-menu li.examples {
    background-image: url("../images/icons/examples_white.svg");
    background-position: center;
    background-repeat: no-repeat; }
    #tab-menu li.examples:hover {
      background-image: url("../images/icons/examples_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
    #tab-menu li.examples.active {
      background-image: url("../images/icons/examples_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
  #tab-menu li.settings {
    background-image: url("../images/icons/settings_white.svg");
    background-repeat: no-repeat;
    background-position: center; }
    #tab-menu li.settings:hover {
      background-image: url("../images/icons/settings_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
    #tab-menu li.settings.active {
      background-image: url("../images/icons/settings_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
  #tab-menu li.pins {
    background-image: url("../images/icons/pins_white.svg");
    background-position: center;
    background-repeat: no-repeat; }
    #tab-menu li.pins:hover {
      background-image: url("../images/icons/pins_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
    #tab-menu li.pins.active {
      background-image: url("../images/icons/pins_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
  #tab-menu li.refs {
    background-image: url("../images/icons/refs_white.svg");
    background-position: center;
    background-repeat: no-repeat; }
    #tab-menu li.refs:hover {
      background-image: url("../images/icons/refs_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
    #tab-menu li.refs.active {
      background-image: url("../images/icons/refs_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
  #tab-menu li.libraries {
    background-image: url("../images/icons/library_white.svg");
    background-position: center;
    background-repeat: no-repeat; }
    #tab-menu li.libraries:hover {
      background-image: url("../images/icons/library_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
    #tab-menu li.libraries.active {
      background-image: url("../images/icons/library_green.svg");
      background-position: center;
      background-repeat: no-repeat; }
  #tab-menu li.active {
    background: #ffffff;
    border-bottom: none;
    border-left: 5px solid #00bea4;
    margin-left: -5px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    #tab-menu li.active a {
      color: #00bea4; }

.rot {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.tab-button {
  color: rgba(255, 255, 255, 0.9);
  font-family: space_bold;
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
  line-height: 50px;
  padding-left: 10px;
  text-decoration: none; }

.tab-content-area {
  display: none; }

input[type="text"],
input[type="number"] {
  height: 25px;
  border: 1px solid #bdbdbd;
  background: #ffffff; }
  input[type="text"].number-picker,
  input[type="number"].number-picker {
    border-radius: 0;
    width: 5em;
    text-align: center; }
  input[type="text"]:disabled,
  input[type="number"]:disabled {
    background: #f1f1f1; }

@-webkit-keyframes running-button {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes running-button {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.running-button {
  -webkit-animation: running-button 2s linear infinite;
          animation: running-button 2s linear infinite; }

.toolbar {
  background: #c9c9c9;
  bottom: 0;
  -webkit-box-shadow: 5px 5px #eee;
          box-shadow: 5px 5px #eee;
  display: block;
  font-family: inconsolata, monospace;
  font-size: 12px;
  height: 42px;
  left: 0;
  padding-left: 40px;
  position: absolute;
  right: 0;
  z-index: 100; }
  .toolbar > div {
    display: inline;
    float: left;
    height: 40px; }
    .toolbar > div span {
      cursor: pointer;
      display: inline-block;
      height: 35px;
      margin-top: 3px;
      -webkit-transition: 0.1s ease-in-out;
      transition: 0.1s ease-in-out;
      width: 35px; }
      .toolbar > div span.run {
        background-image: url("../images/icons/run_active.svg");
        background-repeat: no-repeat; }
        .toolbar > div span.run:hover {
          background-image: url("../images/icons/run_inactive.svg"); }
      .toolbar > div span.stop {
        background-image: url("../images/icons/stop_active.svg");
        background-repeat: no-repeat;
        margin-left: 5px; }
        .toolbar > div span.stop:hover {
          background-image: url("../images/icons/stop_inactive.svg"); }
      .toolbar > div span.console-button {
        background-image: url("../images/icons/console_inactive.svg");
        background-repeat: no-repeat; }
        .toolbar > div span.console-button:hover {
          background-image: url("../images/icons/console_active.svg"); }
      .toolbar > div span.tab-button {
        background-image: url("../images/icons/tabs_inactive.svg");
        background-repeat: no-repeat;
        padding: 0; }
        .toolbar > div span.tab-button:hover {
          background-image: url("../images/icons/tabs_active.svg"); }
      .toolbar > div span.drag-button {
        background-image: url("../images/icons/drag_inactive.svg");
        background-repeat: no-repeat; }
        .toolbar > div span.drag-button:hover {
          background-image: url("../images/icons/drag_active.svg"); }
      .toolbar > div span.scope-button {
        background-image: url("../images/icons/scope_inactive.svg");
        background-repeat: no-repeat; }
        .toolbar > div span.scope-button:hover {
          background-image: url("../images/icons/scope_active.svg"); }
      .toolbar > div span.shutdown {
        background-image: url("../images/icons/shutdown_inactive.svg");
        background-repeat: no-repeat;
        margin-left: 5px; }
        .toolbar > div span.shutdown:hover {
          background-image: url("../images/icons/shutdown_hover.svg"); }
  .toolbar .tool-text {
    margin-top: 3px;
    padding-left: 10px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }
    .toolbar .tool-text#control-text-3 {
      float: right; }
  .toolbar .other {
    min-width: 175px; }
  .toolbar .st-st {
    min-width: 100px; }
  .toolbar .start-stop {
    padding-left: 10px;
    width: 85px; }
  .toolbar .shutdown-parent {
    float: right;
    width: 45px; }
  .toolbar .toolbar-functions {
    padding: 2px 0; }
  .toolbar .system-status-text {
    margin-top: 14px;
    padding: 0 20px;
    width: 60px; }
  .toolbar .syntax-status {
    background-image: url("../images/icons/syntax_pending.svg");
    background-repeat: no-repeat;
    margin-top: 3px;
    min-width: 100px;
    padding: 0 20px; }
    .toolbar .syntax-status.pending {
      background-image: url("../images/icons/syntax_pending.svg");
      background-repeat: no-repeat; }
    .toolbar .syntax-status.ok {
      background-image: url("../images/icons/syntax_ok.svg");
      background-repeat: no-repeat; }
    .toolbar .syntax-status.stop {
      background-image: url("../images/icons/syntax_stop.svg");
      background-repeat: no-repeat; }
  .toolbar .logo {
    float: right;
    min-width: 120px; }
    .toolbar .logo img {
      margin-top: -14px;
      padding-right: 2.3em; }

.file-status {
  margin-left: 60px;
  white-space: nowrap; }
  .file-status .project,
  .file-status .file,
  .file-status .status {
    display: inline-block;
    padding-top: 10px;
    font-family: space_regular;
    font-size: 16px;
    color: #00bea4; }
  .file-status .current {
    font-family: poppins_regular;
    color: rgba(0, 0, 0, 0.7);
    padding-right: 20px;
    font-size: 14px; }
