// color-themed accordion menu elements
@include themify($themes) {
  button.accordion {
    background-color: themed('accordion-background-color');
    border-bottom: 2px solid themed('main-background-color');
    color: themed('accordion-font-color');

    &:hover {
      background: themed('hovered-accordion-color');
    }

    &.active {
      background-color: themed('accordion-background-color');
      color: themed('accordion-font-color-accent');

      &:hover {
        color: themed('accordion-font-color-accent');
      }
    }
    &:after {
      color: themed('accordion-font-color');
    }
  }
  button.accordion-sub {
    border-bottom: 1px solid themed('tabs-color');
    color: themed('accordion-font-color-accent');
    &:hover {
      color: themed('accordion-font-color-accent');
    }
    &.active {
      color: themed('accordion-font-color-accent');
      &:hover {
        color: themed('accordion-font-color-accent');
      }
    }
  }
  .docs-content {
    color: themed('main-font-color');
  }
  .panel.show {
    color: themed('main-font-color');
  }
}


button.accordion {
  border: none;
  cursor: pointer;
  font-family: poppins_regular;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
  padding: 8px 14px;
  text-align: left;
  transition: 0.25s ease-in-out;
  width: 100%;
  &:hover {
    border-bottom: 2px solid $teal-main;
  }
  &.active {
    border-bottom: 2px solid $teal-main;
    padding: 8px 14px;
    &:after {
      content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
  }
  &:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    float: right;
    font-size: 14px;
    margin-left: 5px;
  }
}

button.accordion-sub {
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-size: 1em;
  font-family: 'poppins_regular';
  padding: .4em .8em .25em;
  text-align: left;
  width: 100%;
  &:hover {
    background: rgba($grey-toolbar,0.2);
  }
  &.active {
    background: transparent;
    border-bottom: 2px solid $teal-01;
    padding-bottom: .2em;
    margin-top: .2em;
    &:after {
      content: "\2796"; /* Unicode character for "minus" sign (-) */
      font-size: .75em;
      margin-top: 4px;
    }
  }
  &:after {
    color: rgba(0, 0, 0, 0.4);
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    float: right;
    font-size: .75em;
    margin-left: 5px;
    margin-top: 2px;
  }

}

.docs-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s ease;
  &.show {
    max-height: 100000px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
    opacity: 1;
  }
}

.panel {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.panel.show {
  max-height: 100000px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
  opacity: 1;
}