// color-themed text input elements
@include themify($themes) {
	input[type="text"],
	input[type="number"] {
		background: themed('main-background-color');
		color: themed('main-font-color-accent');
	}
}

// INPUTS
input[type="text"],
input[type="number"] {
	height: 25px;
	border: 1px solid $grey-mid;
	&.number-picker {
		border-radius: 0;
		width: 5em;
		text-align: center;
	}
	&:disabled {
		background: $grey-light;
	}
}
