$blue: #0000ff;
$upper-bg: #eeeeee;

$black: #000;
$white: #ffffff;

// Base Material palette teal:
$teal-base: #950000;

// Main Bela color:
$teal-main: #00bea4; //rgb(0,190,164)

// Increasingly brighter - for rollovers:
$teal-01: #1ce8b5; //rgb(28,232,81)
$teal-02: #63ffd9;
$teal-03: #a6ffea;

$grey-extra-light: #fafafa;
$grey-light: #f1f1f1;
$grey-light-mid: #e5e5e5;
$grey-mid: #bdbdbd;

$grey-tabs: #c9c9c9;

$accent-red: rgb(255, 94, 91);
$accent-red-fade: #FF918E;

$grey-editorbg: #eeeeee;

$grey-toolbar: #c9c9c9;

$amber-accent: #f26d21;

$grey-dark: rgba(0,0,0,0.8);

$trans-reg: 0.1s;

$yellow-accent: #fff07c;
$yellow-accent-fade: #FFFFC9;

$themes: (
  light: (
    main-background-color: $white,
    tabs-color: $grey-toolbar,
    selected-tab-color: $white,
    top-file-status-color: #e1e1e1,
    accordion-background-color: $grey-light,
    hovered-accordion-color: $grey-mid,
    accordion-font-color: rgba(0, 0, 0, 0.6),
    accordion-font-color-accent: $grey-dark,
    main-font-color: $black,
    hovered-accordion-color-two: #f9f9f9,
    main-font-color-accent: $black,
    cursor-color: $grey-light,
    console-dragger-color: #999,
    console-dragger-opacity: 0.001,
    console-dragged-color: #bbb,
    checkbox-slider-color: #ccc,
    text-area-color: $white,
  ),
  dark: (
    main-background-color: #292a2f,
    tabs-color: #252729,
    selected-tab-color: #252729,
    top-file-status-color: #252729,
    accordion-background-color: #3f4045,
    hovered-accordion-color: #3e4d5c,
    accordion-font-color: #dfdfe0,
    accordion-font-color-accent: #ededf2,
    main-font-color: #dfdfe0,
    hovered-accordion-color-two: #3f4045,
    main-font-color-accent: #ededf2,
    cursor-color: rgb(44,44,44),
    console-dragger-color: #3f4045,
    console-dragger-opacity: 1,
    console-dragged-color: #5a5a62,
    checkbox-slider-color: #5a5a62,
    text-area-color: #292a2f,
  )
);

@mixin themify($themes) {
  @each $name, $values in $themes {
    .#{$name}-theme {
      $theme-map: $values !global;
      @content;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}

@import 'reset';
@import 'fonts';

body {
	margin: 0;
  padding: 0;
	position: relative;
}

img {
	padding-left: 40px;
}

*:focus {
	outline: none;
}

/* Container for upper elements - editor and tabs */

.hidden {
  display: none;
}

// color-themed top bar elements
@include themify($themes) {
  .upper {
    background-color: themed('top-file-status-color');
  }
  .lm_content {
    border: 1px solid themed('tabs-color');
  }
  .lm_splitter {
    background-color: themed('console-dragger-color') !important;
    opacity: themed('console-dragger-opacity');
    &:hover {
      background-color: themed('console-dragged-color') !important;
    }
  }


}

.upper {
  height: 100%;
  position: relative;
  z-index: 96;
}

/* CONTAINER FOR LOWER ELEMENTS */

.activeBar {
  background-color: #0000ff;
	cursor: ns-resize;
}
.inactiveBar {
	background-color: #0000ff;
}
.dragging {
	background-color: #000;
}

/* console */
.console {
	background: white;
	display: block;
}

hr {
	border: 0;
  margin-bottom: -22px;
  opacity: 0.1;
}

.spacer {
  display: block;
  padding-top: 10px;
}

.word-breakable {
  white-space: normal;
  word-break: break-all;
}

body {
  &.uploading {
    cursor: progress;
    button {
      &.submit {
        opacity: 0.75!important;
        cursor: auto!important;
      }
    }
  }
}

[data-drag-svg] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1000;
  width: 100vw;
  height: 100vh;
  &.active-drag-upload {
    z-index: 1000;
  }
  &.no {
      background: rgba(255, 0, 0, 0.7);
  }
  polygon {
    opacity: 0.3;
    &.active-drag-upload {
      opacity: 0.6;
    }
  }
  [data-drag-func=main] {
    fill: rgb(0, 255, 122);
  }
  [data-drag-func=folder] {
    fill: rgb(0, 255, 0);
  }
}

ul {
	font-family: inconsolata;
}

@import 'accordion-menu';
@import 'buttons';
@import 'slider';
@import 'console';
@import 'docs';
@import 'dropdown';
@import 'dropdown-mini';
@import 'editor';
@import 'example-list';
@import 'file-list';
@import 'git';
@import 'icons';
@import 'library-list';
@import 'lower';
@import 'number-selector';
@import 'pins';
@import 'popup';
@import 'scrollbar';
@import 'tabs';
@import 'tab-content';
@import 'tab-menu';
@import 'text-input';
@import 'toolbar';
@import 'upper';
@import 'scope';
