@font-face {
    font-family: 'sofia';
    src: url('fonts/sofia-webfont-copy.woff2') format('woff2'),
         url('fonts/sofia-webfont-copy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#container {
    overflow: visible;
}

#image {
    width: 350px;
    text-align: left;
    margin: 0;
    padding-left: 0;
    overflow: visible;
}

.diagram_text {
    font-family: sofia;
    font-size: 12px;
    line-height: 22px;
}

.dPin {
    fill: rgba(0, 255, 0, 0.5);
    stroke: none;
}
.new {
    fill: rgb(255, 0, 0);
}
.gnd {
    fill: rgba(255, 0, 0, 0.4);
    stroke: rgb(255, 0, 0);
}
.aPin {
    fill: rgba(255, 255, 0, 0.5);
    stroke: none;
}
.aInPin {
    fill: rgba(255, 165, 0, 0.6);
    stroke: none;
}
.comms {
    fill: rgba(0, 0, 255, 0.5);
    stroke: none;
}
.audio {
    fill: rgba(155, 48, 255, 0.5);
    stroke: none;
}
.pins{
    fill: transparent;
    stroke: #000;
}
.util {
    fill: rgba(255, 14, 154, 0.5);
    stroke: none;
}
.led {
    fill: rgba(0, 255, 0, 0.6);
    stroke: none;
}
.caution {
    fill: rgba(255, 14, 154, 0.7);
    stroke: rgb(255, 0, 0);
}
.jumper {
  fill: rgba(0, 255, 255, 0.2);
  stroke: rgb(0, 255, 255);
}
.usbpwrJ {
  fill: rgba(255, 150, 0, 0.5);
  stroke: rgb(255, 150, 0);
}
.extpwrJ {
  fill: transparent;
  stroke: rgb(255, 255, 0);
}
.disabled {
  fill: rgba(0, 0, 0, 0.6);
  stroke: none;
}
.powerIn {
  fill: rgba(255, 14, 154, 0.7);
  stroke: #0effeb;
}

.tooltip {

}



.tooltipster-content {
    padding: 0!important;
    }
.tipText {
    position: relative;
    z-index: 100;
    background: #fff;
    padding: 5px 10px;
    max-width: 350px;
    color: #000;
}
.diagram-text {   
  font-family: sofia;
  font-size: .9em;
  margin-top: -10px;
}